header{
margin:0;
height:100px;
}

.header-container{
	width:900px;
	margin-left: auto;
	margin-right: auto;
}

.topnav{
	grid-template-areas: "logo menu config";
	line-height: 2.3rem;
	font-size: 2.3rem;
	transition: .25s;
	padding: 0 5px;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto 1fr auto;
	z-index: 2;
	align-items: center;
	gap: .5rem;
}

.logo{
	position: relative;
	font-family: 'Oxygen', sans-serif ;
	display:block;
	padding-right: 150px;
	
}
.top{
	font-size: 1.3rem;
	line-height: .65rem;
	margin-bottom: -.0.9rem;
	margin-left: -.1rem;
	color: #76689a;
	padding-top:25px;	
}

.bottom{
	font-size: 40px;
	color: #d8a0a6;
	margin-left: -.15rem;
}
#website-name{
position: relative;
display: block;
padding-top:0px;
font-family: "SegoeUI Regular","Sans","serif";
color: #d8a0a6;
text-decoration: none;
text-transform: uppercase;
font-size:50px;
}

ul {
display: flex;
flex-direction: row;
align-items: start;
list-style-type: none;
padding-top:25px;
padding-left:80px 0px;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}

li {
padding: 0px 13px;
flex-direction: row;
flex-wrap: nowrap;
display: flex;
}

a {
position: relative;
display: flex;
padding: 4px 0;
flex-direction: row;
flex-wrap: nowrap;
font-family: "SegoeUI Regular","Sans","serif";
color: #d8a0a6;
text-decoration: none;
text-transform: uppercase;
transition: 0.5s;
font-size:18px;
}

.items-nav :hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.items-nav  a:after {
	position: absolute;
	content: "";
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #ffffff;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s;
	color:#fff
}

.items-nav a:hover {
	color: #ffffff;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	background: #2b2b2c;
}

.page{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	min-height: 1200px;
	}

h1 {
	font-size: 30px;
	margin: auto;
	margin-top: 50px;
}

.container {
	width: 4000px;
	margin: auto;
	margin-top: 100px;
}

.mapael .zoomButton {
	background-color: #fff;
	border: 1px solid #ccc;
	color: #000;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	position: absolute;
	top: 0;
	font-weight: bold;
	left: 10px;

	-webkit-user-select: none;
	-khtml-user-select : none;
	-moz-user-select: none;
	-o-user-select : none;
	user-select: none;
}

/* Reset Zoom button first */
.mapael .zoomReset {
	top: 10px;
}

/* Then Zoom In button */
.mapael .zoomIn {
	top: 30px;
}

/* Then Zoom Out button */
.mapael .zoomOut {
	top: 50px;
}
.myText {
	background-color: #343434;
	height: 100px;
	padding: 10px;
	color: #fff;
	overflow: auto;
	margin: 10px;
}

/* Specific mapael css class are below
 * 'mapael' class is added by plugin
*/

.mapael .map {
	position: relative;
}

.mapael .mapTooltip {
	position: absolute;
	background-color: #fff;
	opacity: 0.70;
	filter: alpha(opacity=70);
	border-radius: 10px;
	padding: 10px;
	z-index: 1000;
	max-width: 200px;
	display: none;
	color: #343434;
}